{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
    <style>
        #image-carousel {
            max-width: 100%;
            overflow: hidden;
            margin: 4rem auto;
            padding: 0 1rem;
            box-sizing: border-box;
        }

        .splide__list {
            display: flex !important;
            flex-direction: row !important;
        }

        .splide__slide {
            display: flex !important;
            justify-content: center;
            align-items: center;
        }

        .splide__slide img {
            width: 300px;
            height: auto;
            display: block;
        }

        #image-carousel .splide__arrows {
            display: none;
        }

        #image-carousel .splide__pagination {
            display: none;
        }

        #second-carousel {
            max-width: 100%;
            overflow: hidden;
            margin: 4rem auto;
            padding: 0 1rem;
            box-sizing: border-box;
        }

        #second-carousel .splide__slide img {
            width: 250px;
            height: auto;
            object-fit: cover;
            display: block;
        }
    </style>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/product/1">
                    <img src="{{ url_for('static', filename='images/iPhone 16.png') }}" class="d-block w-100" alt="iPhone 16">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/product/3">
                    <img src="{{ url_for('static', filename='images/iPad Pro.png') }}" class="d-block w-100" alt="iPad Pro">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/product/2">
                    <img src="{{ url_for('static', filename='images/MacBook Air.png') }}" class="d-block w-100" alt="MacBook Air">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/product/4">
                    <img src="{{ url_for('static', filename='images/Airpods4.jpg') }}" class="d-block w-100" alt="AirPods 4">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="background-color: rgba(118, 118, 118, 0.112);">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="background-color: rgba(118, 118, 118, 0.112);">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div><br><br>
    <h2 style="text-align: center; margin-bottom: 0%;">Veja séries premiadas Apple Originals em todos os ecrãs.</h2>
    <div id="image-carousel" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Echo Valley.png') }}" alt="Imagem 1"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Fonte da Juventude.png') }}" alt="Imagem 2"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Jovens Rebeldes.png') }}" alt="Imagem 3"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Separação.png') }}" alt="Imagem 4"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Stick.png') }}" alt="Imagem 5"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Ted Lasso.png') }}" alt="Imagem 6"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/The Morning Show.png') }}" alt="Imagem 7"></li>
            </ul>
        </div>
    </div>
    <h2 style="text-align: center; margin-bottom: 0%;">A melhor coleção de jogos em dispositivos móveis para todo o tipo de jogadores.</h2>
    <div id="second-carousel" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Angry Birds Boune.png') }}" alt="Imagem 8"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Balatro+.png') }}" alt="Imagem 9"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Cooking Mama Cousine.png') }}" alt="Imagem 10"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Disney Dreamlight Valley.png') }}" alt="Imagem 11"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/NBA 2K25 Arcade Edition.png') }}" alt="Imagem 12"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Slay the Spire+.png') }}" alt="Imagem 13"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Taiko no Tatsujin Pop Tap Beat.png') }}" alt="Imagem 14"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/Temple Run.png') }}" alt="Imagem 15"></li>
                <li class="splide__slide"><img src="{{ url_for('static', filename='images/Entretenimento/WHAT THE CLASH.png') }}" alt="Imagem 16"></li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.4.2/dist/js/splide-extension-auto-scroll.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Splide('#image-carousel', {
                type: 'loop',
                perPage: 3,
                gap: '1rem',
                drag: 'free',
                direction: 'ltr',
                autoScroll: {
                    speed: 1,
                },
            }).mount({ AutoScroll: window.splide.Extensions.AutoScroll });
            new Splide('#second-carousel', {
                type: 'loop',
                perPage: 4,
                gap: '1rem',
                drag: 'free',
                direction: 'ltr',
                arrows: false,
                pagination: false,
                autoScroll: {
                    speed: 1.5,
                },
            }).mount({ AutoScroll: window.splide.Extensions.AutoScroll });
        });
    </script>
{% endblock %}